.navbar {
    position: fixed;
    width: 100%;
}

#content {
    padding-top: 70px;
}

#data table {
    width: 100%;
}

.table td, .table th {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

#header > nav {
    background-color: #2879FF;
}

.navbar-brand {
    color: white;
}

#navbarNav > ul > li > a {
    color: white;
}

body {
    background-color: #F5F5F5;
}

#data table {
    background-color: white;
}

.btn-delete {
    color: #fff;
    background-color: #ff4828;
    border-color: #ff4828;
}

/* #data {
    overflow-x: scroll;
} */

.table_parent {
    background-color: white;
    overflow-x: scroll;
    margin-bottom: 1rem;
}

.table {
    margin-bottom: 0;
}

/* 
colours:
#2879FF - blue
#F5F5F5 - grey
#fff - white
#ff4828 - red
*/