#dairy_popup {
    display: none;
    position: fixed;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    padding: 10px;
}

#dairy_popup * {
    display: block;
    margin-bottom: 10px;
}

#mask {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);;
}

.edit {
    background-color: rgba(40, 121, 255, 0.6);
    color: white;
}

@media (min-width: 500px) {
    #dairy_popup {
        width: 60%;
    }
}