#note_popup {
    display: none;
    position: absolute;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 180px;
    padding: 10px;
}

#note_popup * {
    display: block;
    margin-bottom: 10px;
}

#mask {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);;
}