#note_popup {
    display: none;
    position: fixed;
    z-index: 21;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    padding: 10px;
}

#note_popup * {
    display: block;
    margin-bottom: 10px;
}

#mask {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);;
}

.edit {
    background-color: #2879FF;
    color: white;
    text-align: center;
}

.delete {
    background-color: #ff4828;
    color: white;
    text-align: center;
}

#nothing_here {
    text-align: center;
    font-weight: bold;
}

#top_content {
    margin-bottom: 13px;
}

@media (max-width: 767px) {
    #add {
        margin-top: 13px;
    }
}